body{
    background-color: blue;
}




header{
    color:yellow;
}

header p{
    font-weight: bold;;
}

#ticketNamBox{
    position:relative;
    background-color: gray;
}

#pedice{
    display: none;
    position: absolute;
    bottom:0;
    left:24px;
    
    font-size: 12px;
    
}


td{
    padding-top: 50px !important;
}


#title-ticket{
    color:yellow;
}



.active{
    display: block !important;
}